.footer-background {
    background: #122235;
    margin-bottom: 1px;
}

.direitos-background {
    background: #122235;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 40px;
    /* align-items: center; */
    align-content: center;
    gap: 20px;
}

.direitos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 25px;
    text-align: center;
}

.unica-logo {
    width: 200px;
}

.footer-container div p {
    color: white;
    font-size: 0.875rem;
    line-height: 1.6;
}

.redes-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.redes-item p {
    line-height: 1;
}

.redes-item a {
    color: white;
}

.redes-item a:hover {
    color: rgb(156, 156, 156);
}

.logos {
    /* width: 10px; */
    height: 20px;
}

/* .direitos-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 1px;
    background: #122235;
    height: 80px;
} */

.direitos-texto {
    color: white;
    font-size: 0.8rem;
}

.footer-item h3 {
    color: rgb(255, 217, 0);
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 100;
}

.footer-item p, a {
    font-size: 0.875rem;
    font-size: 0.875rem;
}