body {
    font-family: Arial;
    margin: 0px;
}

.logo {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.contato {
    display: inline-block;
    margin-left: 70%;
    color: white;
} 

.heading {
    background-color: rgb(59, 59, 59);
}