* {
    /* outline: 1px solid red; */
}

h1, h2, h3 {
    margin: 0px;
}

body {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    margin: 0px;
}

.heading {
    background: rgb(24, 24, 24);
    height: 80px;
    box-sizing: border-box;
    display: flex;
}

.heading-links {
    list-style: none;
    margin: 0px;
    display: flex;
    gap: 30px;
    margin: 33px 0px 0px 900px;
}

.heading-links a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.unica-logo {
    padding: 15px 0px 0px 300px;
}

.icone-lupa {
    width: 16px;
    height: 16px;
}

.thumbnail img {
    display: block;
    width: 100%;
    height: 100%;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

/* .text-container {
    width: 400px;
    height: auto;
} */

.caption {
    line-height: 1.5;
    width: 700px;
    position: absolute;
    top: 17%;
    left: 34%;
    text-align: center;
    font-size: 64px;
    color: #eee;
    font-weight: bold;  
}