body {
    margin: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.div1 {
    display: inline-block;
    background-color: palevioletred;
    width: 150px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
}

.div2 {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    /* grid-template-rows: repeat(2, 150px); */

}

.div2-container {
    display: inline-block;
}

.div2 p {
    background-color: lightblue;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid black;
}